---
import Icon from 'astro-icon';
import { Picture } from '@astrojs/image/components';

import PostTags from '~/components/blog/Tags.astro';
// import SocialShare from '~/components/common/SocialShare.astro';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import type { Post } from '~/types';

export interface Props {
  post: Post;
  url: string | URL;
}

const { post } = Astro.props;
---

<section class="py-2 sm:py-4 lg:py-8 mx-auto">
  <article>
    <header class={post.image ? '' : ''}>
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 prose-p:text-xs mb-2 px-4 sm:px-6 sm:items-center">
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>

          {
            post.updateDate && <Icon name="ic:baseline-update" class="w-4 h-4 inline-block ml-2 -mt-0.5 dark:text-gray-400" />
            <time datetime={String(post.updateDate)}>{getFormattedDate(post.updateDate)}</time>
          }
          {
            post.category && (
              <>
                {' '}
                ·
                <a class="capitalize hover:underline" href={getPermalink(post.category, 'category')}>
                  {post.category.replaceAll('-', ' ')}
                </a>
              </>
            )
          }

        </p>
      </div>
        <h1
          class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        >
          <div class="flex">
            {post.icon && <Icon name={post.icon} class="w-10 h-10 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 mr-2" />}
            {post.title}
          </div>
        </h1>
      <p
        class="max-w-3xl mx-auto my-3 px-4 sm:px-6 text-lg md:text-xl text-gray-500 dark:text-slate-400 font-medium text-justify"
      >
        {post.excerpt}
      </p>

      {
        post.image ? (
          <Picture
            src={post.image}
            class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.description || ''}
            loading="eager"
            aspectRatio={16 / 9}
            width={900}
            height={506}
          />
        ) : (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <div class="border-t dark:border-slate-700" />
          </div>
        )
      }
    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose dark:prose-invert dark:prose-headings:text-slate-300  prose-h2:border-b-2 prose-h2:border-l-8 prose-h2:border-l-red-800 prose-h2:pl-2 prose-h2:border-b-gray-500 prose-h2:mt-6 prose-h2:mb-4 prose-p:leading-normal prose-p:my-2 prose-li:leading-tight prose-pre:my-2 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary-800 dark:prose-a:text-primary-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-hr:my-6 prose-h3:mt-5 prose-p:text-sm prose-li:text-sm"
    >
      {
        post.Content ? (
          <>
            {/* @ts-ignore */}
            <post.Content />
          </>
        ) : (
          <Fragment set:html={post.content} />
        )
      }
    </div>
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <PostTags tags={post.tags} class="mr-5" />
      <!-- <SocialShare url={url} text={post.title} class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600" /> -->
    </div>
  </article>
</section>
